node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
lerna-debug.log
yarn-error.log
.tmp/
/.dockerignore
.idea
coverage
lib-cov
.npm
.DS_Store
.commit
/scripts/license-finder/Results/
*.sw*
.generated_environments/
.generated/
/infra/local-environments
*package-lock.json*
*yarn-error.log*
.vscode/*
test-results
buildlogs/
.history/
.terraform
dist
junit.xml
globalConfig.json
**/environment.json
**/collection.json
