dist/
coverage/
test-results/
lib/shared/bucketing-assembly-script/assembly/
eslint-common.js
prettier.config.js
jest.config.ts
jest.preset.js
*.MD
.yarn
.husky
.verdaccio
node_modules
**/.next/**
.github/
**/Pods/**
examples/react/react-native-app/package.json
