name: Nx Affected CI
permissions:
    contents: read
on:
    pull_request:
        branches: [main]
jobs:
    license-check:
        name: License Check
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - uses: DevCycleHQ/license-action@main
            with:
              language: "javascript"
    build:
        runs-on: ubuntu-latest-8-core
        strategy:
            matrix:
                node-version: [22.12]
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Install system dependencies
              run: |
                sudo apt-get update
                sudo apt-get install -y build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev libpixman-1-dev pkg-config
            - name: Enable Corepack
              run: corepack enable
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'yarn'
            - run: git fetch origin main
            - run: yarn --immutable
            - run: yarn affected:lint --parallel=8
            - run: yarn prettier --check .
              name: Prettier
            - name: Run Affected Tests
              shell: bash
              run: |
                yarn nx build shared-bucketing-test-data
                yarn affected:test --parallel=8
