name: Release

on:
    workflow_dispatch:
        inputs:
            draft:
                description: 'Draft'
                required: true
                default: false
                type: boolean
            update_all:
                description: 'Force update all packages'
                required: true
                default: false
                type: boolean
            version-increment-type:
                description: 'Which part of the version to increment:'
                required: true
                type: choice
                options:
                    - major
                    - minor
                    - patch
                default: 'patch'

permissions:
    contents: write
    id-token: write
jobs:
    release:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22.12]
        env:
          GITHUB_TOKEN: ${{ secrets.AUTOMATION_USER_TOKEN }}
        steps:
            - uses: actions/checkout@v4
              with:
                  token: ${{ secrets.AUTOMATION_USER_TOKEN }}
                  fetch-depth: 0
            - name: Enable Corepack
              run: corepack enable

            - name: Configure git
              run: |
                  git config --global user.email "foundation-admin@devcycle.com"
                  git config --global user.name "DevCycle Automation"

            - name: Set up Node.js for npm publish
              uses: actions/setup-node@v4
              with:
                node-version: ${{ matrix.node-version }}
                registry-url: "https://registry.npmjs.org"
                cache: 'yarn'
                scope: "@devcycle"

            - name: Update npm for OIDC support
              shell: bash
              run: npm install -g npm@11.6.2

            - run: yarn --immutable

            # Only one of the following two steps will run, depending on whether the `update_all` input is set
            - name: Increment affected package versions with lerna
              run: |
                  ./scripts/lerna-version-ci.sh --version-increment-type "${{ inputs.version-increment-type }}"
              if: inputs.update_all != true

            - name: Increment all package versions with lerna
              run: |
                  ./scripts/lerna-version-ci.sh --all-packages --version-increment-type="${{ inputs.version-increment-type }}"
              if: inputs.update_all == true

            - name: Push version changes and tags
              run: |
                  git push origin HEAD:main --follow-tags
              if: inputs.draft != true && github.ref == 'refs/heads/main'

            - name: Push to npm
              run: |
                  yarn npm-publish
              if: inputs.draft != true

            - name: Push to npm (dry run)
              run: |
                  yarn npm-publish --dry-run
              if: inputs.draft == true

            - name: Build UMD bundles
              run: |
                  yarn nx build:cdn js
            - name: Extract SDK version
              run: |
                echo "SDK_VERSION=$(cat sdk/js/package.json | jq -r '.version')" >> $GITHUB_ENV
            - name: Upload CDN Release
              run: |
                SDK_VERSION="$(cat sdk/js/package.json | jq -r ".version")"
                aws s3 sync dist/sdk/cdn/js s3://js-devcycle-com/ --include "devcycle.min.js*" --endpoint-url https://fb390958d6eff646d3a341a10cd95706.r2.cloudflarestorage.com
                aws s3 sync dist/sdk/cdn/js s3://js-devcycle-com/latest/ --include "devcycle.min.js*" --endpoint-url https://fb390958d6eff646d3a341a10cd95706.r2.cloudflarestorage.com
                aws s3 sync dist/sdk/cdn/js s3://js-devcycle-com/${SDK_VERSION}/ --include "devcycle.min.js*" --endpoint-url https://fb390958d6eff646d3a341a10cd95706.r2.cloudflarestorage.com
              if: inputs.draft != true && github.ref == 'refs/heads/main'
              env:
                SDK_VERSION: ${{ env.SDK_VERSION }}
                AWS_ACCESS_KEY_ID: ${{ secrets.CLOUDFLARE_R2_ACCESS_KEY_ID }}
                AWS_SECRET_ACCESS_KEY: ${{ secrets.CLOUDFLARE_R2_SECRET_ACCESS_KEY }}


